@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Đơn hàng";
}
@model List<Order>

     <main>
                    <div class="container-fluid">
                        <h4 class="mt-4">ĐƠN HÀNG</h4>
                    </div>
                    <div class="card mb-4">
                              <div asp-validation-summary="All" class="alert alert-danger"></div>
                            
                            @if(@TempData["message"] != null)
                            {
                                <div class="alert alert-success">
                                    @TempData["message"]
                                </div>
                            }
                            @if(@TempData["error"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["error"]
                                </div>
                            }

                            <form method="GET" action="/admin/order/search">
                                    <div class="input-group mb-3 p-3">
                                            <input name="query" type="teemoxt" class="form-control" placeholder="Tìm đơn hàng" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button type="submit" class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></button>
                                            </div>
                                    </div>
                            </form>
                            <div class="card-header d-flex align-items-center">
                                 <form action="/admin/order/search" method="get">
                                    <div class="form-group mb-0 mr-1 d-flex">
                                        <input placeholder="Ngày tạo đơn" onfocus="(this.type='date')"  class="form-control" name="fillDate" style="height:31px; border-radius: 0; width: 180px; outline: none">
                                        <button type="submit" class="btn btn-secondary btn-sm" style="border-radius: 0"><i class="fas fa-filter"></i></button>
                                    </div>
                                 </form>
                                 <button type="button" style="border-radius: 0;" class="btn btn-primary btn-sm mr-1" data-toggle="modal" data-target="#addCustomer" ><i class="fas fa-plus"></i></button>
                                 <button  class="btn btn-success btn-sm" style="border-radius: 0;" onclick="location.href = '/admin/customer';"><i class="fas fa-redo"></i></button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
    <tr>
      <th class="th-sm" >#
      </th>
      <th class="th-sm">Họ tên
      </th>
      <th class="th-sm">Email
      </th>
      <th class="th-sm ">Điện thoại
      </th>
      <th class="th-sm text-center">Ngày tạo
      </th>
      <th class="th-sm text-center">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr onclick="viewDetail(@item.Id)" style="cursor: pointer;">
      <td >@item.Id</td>
      <td>@item.Customer.FullName</td>
      <td>@item.Customer.Email</td>
      <td>@item.Customer.Phone</td>
      <td class="text-center">@item.CreatTime</td>
      <td class="text-center">
        @(item.Status == OrderStatus.Success ? 
          Html.Raw("<span style='width: 80px' class='badge badge-success'>Đã xử lý </span>") 
          : item.Status == OrderStatus.NoProcess 
          ?Html.Raw("<span style='width: 80px' class='badge badge-warning'> Chưa xử lý </span>") 
          
          :
          Html.Raw("<span style='width: 80px' class='badge badge-danger'> Hủy bỏ   </span>")  
          )
      </td>
      @* <td data-toggle="modal" data-target="#basicExampleModal-@item.Id" class="d-flex justify-content-between show-message">
        @(@item.Content.Length > 25 ? @item.Content.Substring(0, 25) + "..." : @item.Content) <i class="fa fa-eye" aria-hidden="true"></i> 
      </td>
      <td class="text-center">@item.CreatedTime</td>F
      <td class="text-center">
        @(@item.Status == false ? Html.Raw("<span style='width:60px' class='badge badge-warning status-message'>Chưa xem</span>") : @Html.Raw("<span style='width:60px' class='badge badge-success status-message'>Đã xem</span>"))
      </td> *@
    </tr>
    }
  </tbody>
</table>
 <div class="d-flex justify-content-end">
                                        <ul class="pagination pagination-sm">
                                              	@for (int i = 1; i <= ViewBag.TotalPage; i++)
                                                {
                                                    @if(ViewBag.CurentPage == i){
                                                        <li class="page-item active"><a  class="page-link" href="?page=@i">@i</a></li>	
                                                    }
                                                    else{
                                                        <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                                                    }
                                                }
                                                @if(ViewBag.TotalPage > ViewBag.CurentPage){
                                                    <li  class="page-item"><a class="page-link" href="?page=@(ViewBag.CurentPage + 1)"><i class="fas fa-chevron-right"></i></a></li>
                                                }
                                        </ul>
                                    </div>
                           </div>
                            </div>
                     </div>
 </main>
        @* Model detail message  *@

        @foreach (var item in Model)
        {
        <div class="modal fade" id="basicExampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                 <p>Subject</p>
                 <p>
                    @* <span style="font-size: 14px"><span style="width:80px; display:inline-block">Họ tên: </span>@item.FullName</span> *@
                 </p>
                 <p>
                    @* <span style="font-size: 14px"><span style="width:80px; display:inline-block">Email: </span>@item.Email</span> *@
                 </p>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                @* @item.Content *@
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        }

  
@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
      .show-message{
        cursor: pointer;
      }
      .show-message:hover{
         color:blue;
      }

          .alert.alert-danger.validation-summary-valid {
        display: none;
    }

    tr:hover{
      background-color: #3332;
      transition: 0.4s;
    }
    </style>
}
@section Script{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable( 
               {  
                 "order": [[ 0, "desc" ]]
               },
            );
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    <script>
     // change status contact while click show content 
     function viewDetail(id){
       window.location.href = "/admin/order/" + id;
     }
    </script>
}